/docs/
/lib/
/bin/
/.shards/
*.dwarf
dev/
feed.json
testdb/
testidx/
# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
#/shard.lock
server
body.bin
header.bin
key.pem
cert.pem
/dev/
kittn-server
kittn-pack
